body {
	/*background: #ffffff;*/
	background-image: linear-gradient(#59cdff, #ffffff);
	font-size: 18px;
	position: relative;
	height: 100%;
	text-align: center;
	color: black;
	font-family: 'Montserrat', sans-serif;
	
	}

	
	#riotlogo {
		position: absolute;
		left: 10px;
		top:-20px;
	}
	
	div.scrollmenu {
  height: 100px;
  width: 100%;
  background-color: #333;
  overflow: none;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 50px;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

div.scrollmenu a:hover {
  background-color: #b3c7c9;
color: white;
-webkit-transition: 0.5s ease-in;
-moz-transition: 0.5s ease-in;
-o-transition: 0.5s ease-in;
transition: 0.8s ease-in;
}
